/* Task 1 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
    background-color: lightgray;
  }
  
  li {
    font-weight: bold;
    color: green;
    padding: 5px;
  }
  